* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
    color: #555;
}

.navbar a {
    text-decoration: none;
    margin-left: 20px;
}