<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Star Gear</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="register_container"> 
    <div class="register_box">
        <div class="register_header">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/allstar.png')}}" width="175px"></a>
            <header>Register</header>
        </div>
        <!-- Input Fields -->
        <form method="POST" action="{{ url_for('register') }}">
            <div class="register_input_box">
                <input type="email" name="email" class="register_input_fields" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="register_input_box">
                <input type="password" name="password" class="register_input_fields" placeholder="Password" autocomplete="off" required>
            </div>
        <!-- Register Button -->
            <div class="register_input_submit">
                <button type ="submit" class="registerpage_register_button">Register</button>
                <label for="register">Register</label>
            </div>
        </form>
        <!-- Sign In Button -->
        <div class="registerpage_submit">
            <a href="{{ url_for('login') }}"><button class="registerpage_signin_button" id="signin"></button></a>
            <label for="signin">Have an account? Sign in</label>
        </div>

    </div>
    </div>
</body>
</html>