<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body class ="search_results">
    <!-- Header/Navigation Bar -->
    <header class="header">
    <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='images/allstar.png') }}" width="135px"></a>
    <form action="{{ url_for('search') }}" method="GET">
        <div class="search">
            <input class ="search_input" type="search" name="query" placeholder="Search">
            <a href="#"><button type= "submit"><span class="search_icon material-symbols-outlined">search</span></button></a>
        </div>
    </form>
    <nav class="navbar">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/home.png') }}" width="30px"></a>
        <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='images/login.png') }}" width="30px"></a>
        <a href="{{ url_for('cart') }}"><img src="{{ url_for('static', filename='images/shoppingcart.png') }}" width="30px"></a>
    </nav>
</header>
    <!-- Prints all items retrieved from database -->
    <h1 class="title">All Items</h1>
    <div class="store-container">
        {% for item in items %}
            <div class="database-items">
                <!-- Creates a URL for each items detail page-->
                <a href="{{ url_for('item_detail', item_id=item[0]) }}"> 
                    <img src="{{ url_for('static',filename=item[5]) }}" class="image" style="width:250px" >
                    <p class="cost">${{ item[3] }}</p>
                    <p>{{ item[1] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
